.spacer {
    flex: 1 1 auto;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 64px);
  }
  
  mat-sidenav {
    width: 250px;
  }
  
  mat-nav-list {
    padding-top: 0;
  }
  
  mat-icon {
    margin-right: 8px;
  }
  
  mat-divider {
    margin: 8px 0;
  }